# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# Machine Learning
models/
logs/

# Temporary files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db

# Personnal project files and guidelines
perso_avancement_projet/